.instances {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: aliceblue;

	a {
		width: 80%;
	}

	.buttonContainer {
		width: 100%;
		display: inherit;
		justify-content: flex-end;
		align-items: center;
		height: 50px;
		padding: 10px;

		button {
			color: white;
			background-color: rgb(15, 163, 255);
			padding: 5px 10px;
			border-radius: 5px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
			font-size: 16px;
			font-weight: 700;

			&:hover {
				cursor: pointer;
			}

			&:active {
				box-shadow: none;
				transform: scale(0.95);
			}
		}
	}

	.client {
		display: inherit;
		width: 100%;
		padding: 10px;
		margin: 10px 0;
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

		h4 {
			margin-top: 0;
		}

		.clientInfo {
			display: inherit;
			flex-direction: column;
		}
	}
}
